.lecturesWrapper{
    background-color: #e5ebea;
}
.lectureItemTextWrapper{
    background-color: aliceblue;
}
.lectureItemsWrapper{
    padding: 20px 0;

}
.lectureTitleBox{

}    
.lectureItem{
    padding: 0 10px;
}

.lectureItemPic{
    display: block;
    margin: auto;
}