html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
    direction: rtl;
}
ul{
    list-style-type: none;
}
.font1{
    font-size: 1.5em;
}
.font2{
    font-size: 1.3em;
    display: block;
}
.header{
    display:flex;
    background-color: black;
    color: white;
    padding: 10px 0;
}
.header > img {
    margin-right: auto;
}
.netcraftLogo{
    height: 25px;
}
.navbarWrapper{
    display: flex;
    background-color: yellow;
}
.navbar > li{
    float: right;
    list-style: none;
    padding: 0 5px;
}
.titleWrapper{
    background-color: rgb(73, 45, 45);
}
.titleWrapper > span{
    display:block;
}
.lectureTitleWrapper > span{
    display:block;
}
.lectureTime::before{
    content: "⏱";
}
.lecturesWrapper{
    background-color: #e5ebea;
}
.lectureItemTextWrapper{
    background-color: aliceblue;
    padding: 20px 20px;
}
.lectureItemsWrapper{
    padding: 20px 0;

}
.lectureTitleBox{
    background-color: aquamarine;
    padding: 0 15px;
    border-radius: 30%;
}    
.lectureItem{
    display:inline-block;
    padding: 10px 10px;
}

.lectureItemPic{
    display: block;
    margin: auto;
}
.lectureItemTitle{
    font-size:1.1em;
}
.arrivingWrapper{
    background-color: gray;
    padding: 10px 10px;
}
.mapPic{
    display: block;
    margin: auto;
}
.usefulInfoWrapper{
   display: flex;
   flex-wrap: wrap;
    justify-content: space-around;
}
.usefulInfoWrapper > span{
    flex-basis: 100%;
}
.usefulInfoItem{
    display: inline-block;
    width: 100px;
    margin: 10px 15px 0 15px;
}

.usefulInfoItem > img{
    display: block;
    margin: auto;

}
.usefulInfoTitle{
    font-size: 1.1em;
}
.signupWrapper > input{
    display: block;
}
.aboutUsWrapper{
    display: flex;
    flex-wrap: wrap;
}
.aboutUsWrapper>span{
    flex-basis: 100%;
}
.aboutUsWrapper > ul{
    display:flex;
}
.aboutUsWrapper li img:first-child{
    display: block;
}
.hide{
    display: none;
}
.left{
    float: left;
}
@media (min-width: 768px){
    .bodyWrapper{
      
      display: flex;
      flex-wrap: wrap;
       justify-content: center;
        margin: auto;
    }
    .lectureTitleWrapper{
        display: flex;
        justify-content: space-between;
    }
    .lectureTitleWrapper:last-child{
        text-align: end;
    }
    .lectureItemsWrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .lectureItem{
        width: 200px;
    }
    .footerWrapper > ul{
        display:flex;
        justify-content: space-between;
        margin-top: 50px;
    }
    .footerWrapper li{
        text-align: center;
    }
    .hide{
        display: block;
    }
   .hide2{
       display: none;
   }
   .arrivingWrapper{
       display:flex;
       flex-wrap: wrap;
       justify-content: space-around
   }
   .arrivingInfo{
      flex-basis: 100%;
      padding-bottom: 10px;
   }
   .arrivingHours{
       flex-basis: 100%;
       padding-bottom: 10px;
   }
   

}