@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.headerContent, .titleContent, .lecturesContent, .arrivingContent, .signupContent,
.usefulInfoContent, .aboutUsContent, .footerContent {
  padding: 20px 0;
}

.hide {
  display: none;
}

.headerWrapper {
  background-color: #282828;
}

.headerWrapper img {
  display: none;
}

.headerWrapper .headerContent {
  color: white;
  font-size: 2.5em;
}

.headerContent span {
  display: block;
  text-align: center;
}

.titleContent {
  text-shadow: 2px 2px grey;
}

.titleContent .hebTitle {
  color: white;
}

.secTitle {
  font-size: 1.8em;
  display: block;
}

.navbar {
  text-align: center;
}

.navbar li {
  display: none;
  background-color: white;
  text-align: start;
  padding: 10px 20px;
  text-align: center;
  background-color: transparent;
}

.navbar li a {
  text-decoration: none;
}

.navbar li:hover {
  background-color: yellow;
}

.navbar .unhide {
  display: block;
}

.aboutUsTitleWrapper {
  background-color: #212121;
  color: white;
}

.aboutUsWrapper {
  background-color: #212121;
  color: white;
}

.aboutUsWrapper img {
  display: none;
}

.aboutUsWrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutUsWrapper ul li img {
  display: block;
  width: 100px;
}

.arrivingWrapper {
  background-color: #DCDCDC;
}

.arrivingWrapper .address {
  font-size: 1em;
}

.arrivingWrapper .hours {
  font-size: 2em;
  text-align: center;
}

.arrivingWrapper .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5px 0;
}

.arrivingWrapper .lists ol {
  list-style-position: inside;
  list-style: decimal;
}

.arrivingWrapper .lists .listTitle {
  font-size: 1.6em;
}

.footerWrapper {
  background-color: #212121;
  color: white;
  font-size: 0.6em;
}

.footerWrapper img {
  display: none;
}

.lecturesWrapper {
  background-color: #E8E8E8;
}

.lecturesWrapper .lectureTitleWrapper {
  display: block;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.lecturesWrapper .lectureItemsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lectureItem {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 10%;
  margin: 10px 0px;
  padding: 0px 5px;
  overflow: hidden;
}

.lectureItem .lectureTitleBox {
  font-size: 2em;
  background-color: lightblue;
  margin: 0px 15px;
  border-radius: 10%;
}

.lectureItem .lectureTitleBox span {
  text-align: center;
  display: block;
}

.lectureItem .lectureTitleBox span:first-child {
  font-weight: bolder;
}

.lectureItem p {
  padding: 10px;
}

img {
  width: 150px;
}

.signupWrapper {
  background-color: #969688;
}

.signupContent input {
  display: block;
}

.signupContent label {
  display: none;
}

.titleWrapper {
  background-color: #949383;
}

.titleWrapper .hebWrapper {
  font-size: 2em;
  text-align: center;
}

.titleWrapper .titleTextWrapper {
  font-size: 1.6em;
  text-align: center;
}

.usefulInfoWrapper {
  background-color: #EBEBEB;
}

.usefulInfoWrapper .usefulItemsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.usefulInfoWrapper .usefulItemsWrapper .usefulInfoItem {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

.usefulInfoWrapper .usefulItemsWrapper .usefulInfoItem h5 {
  font-weight: bolder;
  padding: 5px 0;
}

.usefulInfoWrapper .usefulItemsWrapper .usefulInfoItem .usefulPicWrapper {
  border-radius: 20%;
  overflow: hidden;
}

.usefulInfoWrapper .usefulItemsWrapper .usefulInfoItem img {
  width: 150px;
}

.aboutUsContent img {
  height: 50px;
}

@media (min-width: 690px) {
  .hide {
    display: inherit;
  }
  .spongebob, .zoidberg {
    display: none;
  }
  .headerWrapper img {
    display: block;
    float: left;
    height: 40px;
  }
  .headerWrapper span {
    display: inline;
  }
  .navbar {
    float: left;
    background-color: #282828;
    color: white;
  }
  .navbar li {
    background-color: white;
    text-align: start;
  }
  .slantedLine {
    position: relative;
    top: 10px;
    height: 30px;
    background-color: #605F53;
    -webkit-transform: skew(1deg, 1deg);
            transform: skew(1deg, 1deg);
  }
  .titleContent2 {
    width: 40%;
    font-size: 2.5em;
  }
  .titleContent2 .titleTextWrapper {
    font-size: 1em;
  }
  .lectureTitleWrapper {
    padding: 5px 0;
  }
  .lectureTitleWrapper .secTitle {
    display: inline;
  }
  .lectureTitleWrapper .lectureTime {
    float: left;
  }
  .lectureTitleWrapper .lectureTime:after {
    content: '🕒';
  }
  .lectureItem {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin: 10px 10px;
  }
  .titleLine span {
    display: inline;
  }
  .titleLine:first-child {
    font-size: 1.8em;
  }
  .arrivingContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .arrivingContent .arrivingtextWrapper {
    padding: 0 20px;
  }
  .arrivingContent .arrivingtextWrapper .titleLine span:nth-child(2) {
    font-size: 0.42em;
    font-weight: lighter;
  }
  .arrivingContent .arrivingtextWrapper .location span {
    display: inline;
    font-size: 1.3em;
  }
  .arrivingContent .arrivingtextWrapper .address {
    font-weight: lighter;
  }
  .arrivingContent .arrivingtextWrapper .hours {
    padding: 20px 0;
    margin: 20px 0;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  }
  .arrivingContent .arrivingtextWrapper .hours span:nth-child(odd) {
    width: 30px;
  }
  .arrivingContent .arrivingtextWrapper .lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .arrivingContent .arrivingtextWrapper .lists ol {
    list-style-position: inside;
  }
  .arrivingContent .arrivingtextWrapper .lists .list1 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 0 0 0 10px;
  }
  .arrivingContent .arrivingtextWrapper .lists .listTitle {
    padding: 0 10px 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  }
  .arrivingContent .arrivingtextWrapper .lists li {
    padding: 10px 0;
  }
  .arrivingContent .mapWrapper {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .arrivingContent .lists {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .arrivingContent .hours {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    display: flex;
  }
  .arrivingContent .hours span:nth-child(odd) {
    font-size: 0.6em;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .signup-form {
    width: 50%;
  }
  .signupText span {
    display: block;
  }
  .signupText span:last-child {
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    padding: 10px 0;
    margin: 10px 0;
  }
  .signupContent {
    color: white;
  }
  .signupContent .secTitle {
    color: #dddd31;
    padding-bottom: 20px;
  }
  .signupContent .signupText {
    font-size: 0.6em;
  }
  .signupContent .signupText span:first-child {
    font-size: 2em;
  }
  .signupContent form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .signupContent label {
    display: inline;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    margin: 10px 0;
  }
  .signupContent input {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    margin: 5px 0;
  }
  .signupContent button {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .footerContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footerContent .picWrapper {
    margin-right: auto;
    overflow: hidden;
  }
  .footerContent span {
    padding: 5px 0px 5px 5px;
  }
  .footerContent span:after {
    content: '\00a0\00a0\00a0|';
  }
  .footerContent img {
    display: inherit;
    height: 15px;
  }
}

@media (min-width: 690px) and (min-width: 1000px) {
  .headerContent, .titleContent, .lecturesContent, .arrivingContent, .signupContent,
  .usefulInfoContent, .aboutUsContent, .aboutUsTitleWrapper span, .footerContent {
    max-width: 1000px;
    margin: auto;
  }
  .lectureItemsWrapper {
    position: relative;
  }
  .lectureItemsWrapper .spongebob {
    position: absolute;
    bottom: -50px;
    right: -150px;
    display: block;
    height: 150px;
  }
  .usefulInfoContent {
    position: relative;
  }
  .usefulInfoContent .zoidberg {
    display: block;
    position: absolute;
    left: -150px;
    bottom: -20px;
  }
}
/*# sourceMappingURL=myStyles.css.map */