$bc: background-color;
$bc-header:#282828 ;
$bc-lectures: #E8E8E8;
$bc-lecture-title-box:  #D5E9E9;
$bc-arriving: #DCDCDC;
$bc-signup:#969688 ;
$bc-useful:  #EBEBEB;
$bc-about: #212121;
$bc-footer: 


$font-color-1: white;

$navbar-hover-color: yellow;