$background-color-header:#282828 ;
$background-color-lectures: #E8E8E8;
$background-color-lecture-title-box:  #D5E9E9;
$background-color-arriving: #DCDCDC;
$background-color-signup:#969688 ;
$background-color-6: ;
$background-color-7: ;

$font-color-1: white;

$navbar-hover-color: yellow;