@import 'reset';
@import 'colors';
@import 'fonts'; 
@mixin noImg {img{display:none}};
body{
   
}
.hide{
    display:none;
}
.navbar {
    text-align: center;
    li{
    display: none;
    }
}

.navbar .unhide{
    display:block;

}
 .aboutUsTitlteWrapper{
    background-color: $bc-about;
};
.aboutUsWrapper{
    background-color: $bc-about;
    @include noImg();

}; 
 .arrivingWrapper{
    background-color: $bc-arrive;
}; 
 .footerWrapper{
    background-color:$bc-footer; 
    @include noImg();
}; 
 .headerWrapper{
    background-color: $bc-header;
    @include noImg();
    .headerContent{
        color:white;
        font-size: $mobile-extra-big;
        span{
            display:block;
            text-align: center;
        }
    }

}; 
 .lecturesWrapper{
    background-color: $bc-lectures;
    .lectureTitleWrapper span{
        display:block;
        font-size: $mobile-big;
        text-align: center;
    }
    .lectureItemsWrapper{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .lectureItem{
        flex-basis:90%;
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        margin: 10px 0px;
        .lectureTitleBox{
            display:flex;
            flex-direction: column;
            
        }
    }
    img{
        width: 50px;
    }
    
}; 
 .signupWrapper{
    background-color:$bc-signup;
}; 
 .titleWrapper{
    background-color: $bc-title;
    .hebWrapper{
         font-size: $mobile-big;
         text-align: center;
    }
    .titleTextWrapper{
        font-size:$mobile-big*.8;
        text-align: center;

    }
  
}; 
 .usefulInfoWrapper{
    background-color: $bc-useful;
    @include noImg();
};