@import 'fonts', 'colors';

body{
    font-family: $font-family;
}
div{
    background-color: $bc-header; 
}
.titleWrapper{
    background-color: $bc-title;
};
.lecturesWrapper{
    background-color: $bc-lectures;
}
.arrivingWrapper{
    background-color: $bc-arriving;
}
.singupWrapper{
    background-color: $bc-arriving;
}
.usefulInfoWrapper{
    background-color: $bc-useful
}
.aboutUsTitleWrapper{
    background-color: $bc-about;
}
.aboutUsWrapper{
    background-color: $bc-about;
}
.footerWrapper{
    background-color: $bc-footer;
}