$bc: background-color;
$bc-title: #949383;
$bc-header: #282828 ;
$bc-lectures: #E8E8E8;
$bc-lecture-title-box:  #D5E9E9;
$bc-arrive: #DCDCDC;
$bc-signup:#969688 ;
$bc-useful:  #EBEBEB;
$bc-about: #212121;
$bc-footer: #212121;

$lecTitleCol: lightblue;


$font-color-1: white;

$navbar-hover-color: yellow;

$slantedLineCol : #605F53